{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <!-- Header résultats-->
        <section class="page-section bg-moules text-white">
        </section>
        <!-- Informations compte-->
        <section class="page-section">
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <form action="" method="POST" id="changepassword-form">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <div class="form-control">
                            {{form.old_password}}
                        </div>
                        <label>Mot de passe</label>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-control">
                            {{form.new_password1}}
                        </div>
                        <label>Nouveau mot de passe</label>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-control">
                            {{form.new_password2}}
                        </div>
                        <label>Confirmation nouveau mot de passe</label>
                    </div>
                    <input class="form-control" type="submit" name="change-password">
                    </form>
                </div>
            </div>
        </section>
{% endblock %}